header {
    background-color: black;
    border-bottom: 1px solid seashell;
}

header ul {
    display: flex;
    list-style-type: none;

}

li {
  padding-right: 10px;
}

header img {
    height: 50px;
    padding-left: 10px;
}

body {
    font-family: Helvetica, sans-serif;
    font-size: 22px;
    color: seashell;
    background-color: black;
    opacity: 0.9;
}

a {
    color: seashell;
}